:root {
    --velvet: #6464c8;
    --bg: #b2b7df;
}

body {
    background-color: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

#ship {
    position: relative;
    top: 300px;
    transform: translateX(0px);
}

#main {
    background-color: var(--velvet);
    width: 350px;
    height: 130px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
}

@keyframes round {
    from { border-radius: 15px; }
    to { border-radius: 15px 15px 200px 200px; }
}

#mast {
    background-color: var(--velvet);
    height: 190px;
    width: 18px;
}

#sails {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 208px;
    position: relative;
    top: -180px;
    left: 60px;
    transform-origin: 133px 180px;
    transform: rotate(-90deg);
}

#sail1, #sail2 {
    border-bottom: 170px solid white;
    transform-origin: bottom;
    transform: scaleY(0);
}

#sail1 {
    border-left: 110px solid transparent;
    border-right: 0px solid white;
}

#sail2 {
    border-left: 0px solid white;
    border-right: 70px solid transparent;
}