.table td, .table th {
    border: solid, 1px,  #ccc;
    padding-top: 5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}
.table thead {
    background-color:#f0f1f4;
}
.table
{
    border-collapse: collapse;
    width: 500px;
}
.table tfoot
{
    background-color:#121212;
    color:#fff;
    text-align: right;
}
